@import '_rwd.scss';

$MainColor: #5f30bc;
$SecondColor: #4a8576;

$FontColor: #111;

// @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Caveat|Noto+Sans+TC:100,300,500&amp;subset=chinese-traditional);
