html,body
{
    width: 100%;
    height: 100%;
}

body.fullSize-lock
{
    overflow: hidden;
}

.fullSize
{
    width: 100%;
    // height: 100vh;
    height: 100%;
    transition: transform .5s;

    .section
    {
        width: 100%;
        height: 100%;
        // min-height: 100vh;
    }
}

.fullSize-dots
{
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    .dot
    {
        width: 15px;
        height: 15px;
        margin: 10px 0;
        border-radius: 50%;
        background-color: #FFF;

        &.active
        {
            background-color: #000;
        }
    }
}